<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guests Management</title>
    <style>

        .guest_list{
            table, th, td {
                text-align: center;
                border: 1px solid black;
            }
        }

    </style>
</head>
<body>

<div class="guest_list">
    <form>
        <form id="sortForm" action="#" th:headers="sort" method="get">

            <label>
                <input type="checkbox" id="sortOrder" name="sortOrder" value="desc"> desc
            </label>
            <input type="hidden" name="sortOrder" value="asc" id="sortOrderHidden">
            <button type="submit"> sort </button>

        </form>
        <table>

    <thead>

<tr>
    <th>guest_firstName</th>
    <th>guest_lastName</th>
    <th>occupiedPlace</th>
</tr>

</thead>

    <tbody>

<tr th:each="tempGuest : ${guests}">


    <td th:text="${tempGuest.firstName}"/>
    <td th:text="${tempGuest.lastName}"/>
    <td th:text="${tempGuest.occupiedPlace}"/>

    <td>


    </td>

</tr>
<div>
</div>

</tbody>


</table>
        <script>
            document.getElementById("sortOrder").addEventListener("change", function() {
                var checkbox = document.getElementById("sortOrder");
                var hiddenInput = document.getElementById("sortOrderHidden");

                if (checkbox.checked) {
                    hiddenInput.value = "desc"; // Ustaw sortowanie malejące
                } else {
                    hiddenInput.value = "asc";  // Ustaw sortowanie rosnące
                }
            });
        </script>

    </form>
</div>



</body>
</html>